.desc-container{
    background:white;
    width: 80%;
    height: 548px;
 
    padding: 30px;
    margin: 22px auto;
   
}
.card-name{
    font-size:24px;
}
.clear{
   position: relative;
    cursor: pointer;
    left: 97%;
    bottom: 3%;
}